@import url("reset.css");

body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background: #3d3d3d;
  padding: 150px 0 50px 0;
  text-transform: uppercase;
}

header h1 {
  font-size: 72px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin: 0 0 140px 0;
}

header h1 img {
  display: block;
  margin: 0 auto;
  padding: 50px 0 0 0;
}

header nav {
  text-align: center;
}

header nav li {
  display: inline-block;
  padding: 0 30px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

header nav li a.selected,
main section a,
main section h3 a:hover {
  color: #50c3af;
}

main {
  margin: 0 auto;
  padding: 90px 0;
  overflow: auto;
}

/* SECTION */

main section {
  max-width: 76.6%;
  margin: 0;
  padding-right: 12%;
  float: left;
  box-sizing: border-box;
  color: #45494d;
}

main article {
  padding-bottom: 100px;
}

main section h3 a {
  font-size: 36px;
}

main section h3 a {
  color: #45494d;
}

main section p {
  font-size: 20px;
  line-height: 30px;
}

main section p.subtitle {
  padding: 20px 0;
}

/* ASIDE */

main aside {
  max-width: 23.4%;
  background-color: #f6f7f8;
  padding: 40px 3% 40px 40px;
  box-sizing: border-box;
  overflow: auto;
}

main aside h4 {
  font-size: 16px;
  color: #40474e;
  padding-bottom: 35px;
  text-transform: uppercase;
}

main aside ul {
  padding-bottom: 125px;
}

main aside li:before {
  display: inline-block;
  width: 12px;
  height: 12px;
  padding-right: 5px;
  content: "";
  background: url("../img/list-bullet.png") 0 0 no-repeat;
}

main aside li a,
main aside p {
  color: #787b80;
  font-size: 14px;
}

main aside p {
  text-align: justify;
}

/* PREVIOUS/NEXT BUTTONS */

main section .buttons a.button,
.post-page .comment-post a.button {
  padding: 5px 25px;
  font-size: 14px;
  border-radius: 30px;
  background-color: #50c3af;
  color: #fff;
  text-decoration: none;
}

main section .buttons a.disabled-button {
  background-color: #d2d5da;
  pointer-events: none;
  cursor: default;
}

main section .buttons .button:last-child {
  margin-left: 30px;
}

/* FOOTER */

footer {
  border-top: 1px solid #898c91;
  padding: 20px 0 40px 0;
}

footer p {
  color: #898c91;
  font-size: 12px;
}


/* POST PAGE */

section.post-page article h2,
.post-page div h2 {
  font-size: 36px;
  color: #45494d;
}

.post-page article a h2:hover {
  color: #50c3af;
}

.post-page .comments-section .comment .subtitle,
.post-page .comments-section .comment .subtitle a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

p.subtitle.chris,
p.subtitle.kevin {
  padding-bottom: 40px;
}

p.subtitle.chris {
  padding-top: 40px;
}

.kevin:before,
.chris:before {
  position: relative;
  top: 16px;
  display: inline-block;
  margin-right: 10px;
  width: 49px;
  height: 49px;
  content: "";
  background: url("../img/kevin.png") 0 0 no-repeat;
  border-radius: 100%;
}

.chris:before {
  background: url("../img/chris.png") -6px 0 no-repeat;
  background-color: #e8e8e8;
  background-size: 120%;
}

.comments-section {
  margin-bottom: 50px;
}

.comment-post h2 {
  margin-bottom: 40px;
}

.comment-post form input,
.comment-post form textarea {
  width: 100%;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.comment-post form input {
  height: 40px;
}

.comment-post form textarea {
  padding-top: 7px;
  resize: none;
}

.comment-post form input.button {
  width: auto;
  padding: 5px 25px;
  font-size: 14px;
  border-radius: 30px;
  background-color: #50c3af;
  color: #fff;
  text-decoration: none;
  border: none;
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */

@media (min-width: 769px) {
  main, footer {
    min-width: 769px;
    max-width: 1000px;
    margin: 0 auto;
  }
}

/* 768 PIXELS */
@media (max-width: 768px) {
  main, footer {
    min-width: 601px;
    max-width: 768px;
    margin: 0 auto;
  }

  header {
    padding: 40px 0 20px 0;
  }

  header h1 {
    font-size: 48px;
    letter-spacing: 5px;
    margin-bottom: 120px;
  }

  header h1 img {
    padding-top: 40px;
  }

  header nav li {
    padding: 0 25px;
  }

  main section h3 a,
  .post-page div h2,
  section.post-page article h2 {
    font-size: 24px;
  }

  main aside div.aside-section p {
    text-align: left;
  }
}

/* 600 PIXELS */
@media (max-width: 600px) {
  main, footer {
    min-width: 480px;
    max-width: 600px;
    margin: 0 auto;
  }

  main section {
    margin: 50px 6% 0 6%;
    max-width: 90%;
    padding: 0;
    box-sizing: border-box;
  }

  header h1 {
    overflow: hidden;
  }

  main aside,
  main section {
    max-width: 100%;
    float: none;
  }

  main aside {
    margin: 50px 0 0 0;
    box-sizing: content-box;
  }

  main aside div.aside-section {
    display: inline-block;
    padding: 0;
    width: 49%;
    vertical-align: top;
  }

  main aside div ul {
    padding-bottom: 0;
  }
}

/* 480 PIXELS */
@media (max-width: 480px) {
  main, footer {
    min-width: 321px;
    max-width: 480px;
    margin: 0 auto;
  }

  header {
    padding-bottom: 10px;
  }

  header h1 {
    margin-bottom: 50px;
  }

  header img {
    width: 90%;
  }

  header nav li {
    width: 50%;
    padding: 20px 0 0 0;
  }

  main {
    padding-top: 20px;
  }

  main aside,
  main section {
    margin: 50px 6% 0 6%;
    width: 88%;
    padding: 0;
    box-sizing: border-box;
  }

  main aside div.aside-section {
    display: block;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  main aside div.aside-section:first-child {
    border-bottom: 25px solid #fff;
  }
}

/* 320 PIXELS */
@media (max-width: 320px) {
  main, footer {
    min-width: 200px;
    max-width: 320px;
    margin: 0 auto;
  }

}
