@import url("whitespace-reset.css");

body {
  font: normal 18px "Roboto Condensed", sans-serif;
  background: linear-gradient(to bottom, #d1dbbd, #fcfff5);
  background-repeat: no-repeat;
  color: #3e606f;
}

header {
  width: 920px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

h1 {
  float: left;
  padding: 45px 0 15px 115px;
  font-size: 36px;
  font-weight: normal;
  color: #193441;
  background: transparent url("logo.png") 0 0 no-repeat;
}

nav {
  float: right;
  padding-top: 75px;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 15px 40px 14px 40px;
  text-decoration: none;
  color: #91aa9d;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #fcfff5;
}

nav a.active {
  color: #fcfff5;
  background-color: #91aa9d;
}

main {
  width: 900px;
  margin: 0 auto;
  margin-top: 125px;
  display: block;
  padding: 30px 30px 50px 30px;
  background: #fff;
  box-shadow: 0px 5px 5px 0.5px #b8b8b7;
}

h2 {
  font-size: 32px;
  font-weight: normal;
  color: #3e606f;
  padding: 45px 0 40px 0;
}

p {
  padding-bottom: 30px;
  font-size: 18px;
  color: #3e606f;
}

.img-article {
  float: right;
  margin-left: 40px;
}

main:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  width: 960px;
  margin: 0 auto;
  padding: 15px 0 40px 0;
}

footer h5 {
  color: #3e606f;
  font-size: 14px;
}
